
body{text-align: center;
background: url("/Users/sparshsharma/Documents/GitHub/sparshsharma.github.io/unit_3/image/pexels-photo-132800.jpeg");
background-size: cover;
}

h1 {font-weight: lighter;
    font-family: serif;
    font-size: 60px;
}

p, a {font-size: 20px;
   font-family: sans-serif;
      word-wrap: break-word;
  }

  p {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
    margin-left: 50px;
}

   img {
    max-width: 100%;
    height: auto;
    margin: auto;
}

hr{
width: 500px;
}
